<html>
<head>
<link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
</head>
<header>
</header>
<body>
<center>
<div class="basic" style="width:100%; height:100%">
<button type="button" class="btn btn-primary" a href="http://ec2-54-215-194-126.us-west-1.compute.amazonaws.com/" value="Login to Jenkins">Login to Jenkins</button>
<button type="button" class="btn btn-success" value="Login to Github" >Login to Github</button>
</div>
</center>

</body>
</script>